<h1>SkyHub Images</h1>
<table border="1">
  <thead>
  <tr>
    <th>URL</th>
    <th>Type</th>
    <th>Image</th>
  </tr>
  </thead>
  <tbody>
  <% @images.each do |image| %>
      <tr>
        <td><%= image.original_url %></td>
        <td>Original</td>
        <td><%= image_tag image.attachment(:original) %></td>
      </tr>
      <tr>
        <td><%= image.original_url %></td>
        <td>Small (320x240)</td>
        <td><%= image_tag image.attachment(:small) %></td>
      </tr>
      <tr>
        <td><%= image.original_url %></td>
        <td>Medium (384x288)</td>
        <td><%= image_tag image.attachment(:medium) %></td>
      </tr>
      <tr>
        <td><%= image.original_url %></td>
        <td>Large (640x480)</td>
        <td><%= image_tag image.attachment(:large) %></td>
      </tr>
  <% end %>
  </tbody>
</table>